/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3578e5;
  --ifm-color-primary-dark: #1d68e1;
  --ifm-color-primary-darker: #1b62d4;
  --ifm-color-primary-darkest: #1751af;
  --ifm-color-primary-light: #4e89e8;
  --ifm-color-primary-lighter: #5a91ea;
  --ifm-color-primary-lightest: #80aaef;
  --ifm-code-font-size: 95%;
}
.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}


/* Sidebar root folders */
.menu__list .menu__list {
  margin-left: var(--ifm-menu-link-padding-horizontal);
  border-left: 1px solid #dfdfdf;
  margin-left: 1.3em;
}

.sidebar_node_modules-\@docusaurus-theme-classic-lib-next-theme-DocSidebar- {
  background-color: #F2F2F2;
}
html[data-theme='dark'] .navbar,
html[data-theme='dark'] .sidebar_node_modules-\@docusaurus-theme-classic-lib-next-theme-DocSidebar- {
  background-color: #303846;
}

html[data-theme='dark'] .navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

a {
  cursor: pointer;
}


html[data-theme='dark'] .menu__list .menu__list {
  border-left: 1px solid #202020;
}
a.menu__link.menu__link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
a.menu__link.menu__link--sublist {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}
.menu>ul>li>a.menu__link.menu__link--sublist {
  font-weight: 700;
  padding-right: 0.6em;
}
html[data-theme='dark'] .menu>ul>li>a.menu__link.menu__link--sublist {
  color: #e6e6e6;
}

.menu__link--sublist:after {
  background-size: 23px;
}


/*
.menu .menu__link--sublist:after {
  background-size: 1.5rem 1.5rem;
  height: 0.6em;
}
*/

a.menu__link:not(.menu__link--sublist) {
  margin-left: 1.5em;
}
.menu__link:not(.menu__link--active) {
  color: #222;
}
html[data-theme='dark'] .menu__link:not(.menu__link--active) {
  color: #888;
}
.menu__link {

  justify-content: flex-end;
  flex-direction: row-reverse;
}
/*
.menu__link + .menu__list .menu__link {
  font-weight: 400;
  line-height: 0.8;
  font-size: 0.9em;
  padding: 0.4em 0.6em;

}
*/
.menu__list .menu__list .menu__list-item {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  margin-left: 0.35rem;
}



.main {
  background: white;
}

.navbar__search {
  padding-bottom: 2em;
}
ul.menu__list {
  display: flex;
  flex-direction: column;
}
.menu>.menu__list>.menu__list-item:last-child {
  display: none;
}


article img.expanded.expanded {
  background: #000000d0;
  bottom: 0;
  box-shadow: 0 0 0 100rem #000000d0;

  height: unset !important;
  left: 0;
  margin: auto !important;
  max-height: 100vh;
  max-width: 90vw !important;
  position: fixed;
  right: 0;
  top: 0;
  width: 90vw !important;
  z-index: 1;
}

article img.noShadow,
article .noShadow > img {
  border: none;
  box-shadow: none;
}




/* Sidebar is JS created.*/
body.no-js div[class^="tableOfContents_tVyB"] {
  display: none;
}

html[data-theme='light'] .DocSearch {
  --docsearch-primary-color: #000000 ;
  --docsearch-text-color: #000000;

  --docsearch-muted-color: #000000;
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}

html[data-theme='dark'] .DocSearch {
  --docsearch-text-color: #FFFFFF;
  --docsearch-muted-color: #FFFFFF;
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background:#FFFFFF;
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
}

[data-theme="light"] .navbar {
  background-color: #E7EAED;
}
[data-theme="dark"]  .docSidebarContainer_src-theme-DocPage- {
  background-color: rgb(40, 42, 54)
}

[data-theme="light"] .DocSearch {
  background-color: white !important;
  box-shadow: inset 0 0 0 2px #262626;
}

[data-theme="dark"] .DocSearch {
  box-shadow: inset 0 0 0 2px white;
}

a.menu__link:not(.menu__link--sublist) {
  margin-left: 5px;
}

[data-theme="light"] table thead tr {
  background-color: #E8EAED;
}

[data-theme="light"] table tbody tr td:nth-child(1) {
  background-color: #F1F3F4;
}

[data-theme="light"] table tbody tr td:nth-child(2) {
  background-color: #FFFFFF;
}

[data-theme="light"] .docSidebarContainer_src-theme-DocPage- {
  background-color: #F1F3F4;
}

.margin-vert--md {
  margin-top: 0 !important;
}

[data-theme="light"] .tabs__item.tabItem_src-theme-Tabs-.tabs__item--active {
  background-color:  #F1F3F4;
  border-bottom: none;
}

.menu--responsive .menu__button {
  top: 2rem;
  right: calc(50% - 2em);
  bottom: auto;
  box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 75%);
  transform: rotate(90deg);
  padding: 5px 3px 5px 5px;
  animation: bounce 5s infinite;
}

.menu--responsive .menu__button svg {
  position: relative;
  top: 1.5px;
}

.navbar-sidebar--show {
  z-index: 999;
}

@keyframes bounce {
  0%, 5%, 10%, 15%, 20%, 30% {
    transform: rotate(90deg) translateX(0);
  }
  22.5% {
    transform: rotate(90deg) translateX(5px);
  }
  25% {
    transform: rotate(90deg) translateX(-5px);
  }
}

th:empty {
	display: none;
}


.video-demo-btn {
  visibility: hidden;
}
/* CARDS */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(245, 243, 243, 0.2);
  transition: 0.3s;
  width: 100%;
  background: #ebebeb
 }
  
 body {
  font-family: Arial, Helvetica, sans-serif;
 }
  
 /* Float four columns side by side */
 .column {
  float: left;
  width: 50%;
  padding: 0 10px;
  
 }
  
 /* Remove extra left and right margins, due to padding in columns */
 .row {margin: 0 -5px;}
  
 /* Clear floats after the columns */
 .row:after {
  content: "";
  display: table;
  clear: both;
 }
  
 /* Style the counter cards */
 .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
 }
 .card:hover {
  box-shadow: 0 8px 16px 0 rgba(214, 215, 221, 0.2);
 }
 .card {display:inline-block;}
  
 /* Responsive columns - one column layout (vertical) on small screens */
 @media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
 }
  
 /* CARD1 */
 .card1 {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(245, 243, 243, 0.2);
  transition: 0.3s;
  width: 260%;
  background: #dddcdc
 }
  
 body {
  font-family: Arial, Helvetica, sans-serif;
 }
  
 /* Float four columns side by side */
 .column {
  float: left;
  width: 50%;
  padding: 0 10px;
  
 }
  
 /* Remove extra left and right margins, due to padding in columns */
 .row {margin: 0 -10px;}
  
 /* Clear floats after the columns */
 .row:after {
  content: "";
  display: table;
  clear: both;
 }
  
 /* Style the counter cards */
 .card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 5px;
  text-align: center;
  background-color: #ebebeb;
 }
 .card3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: left;
  background-color: #f1f1f1;
 }
 .card4 {
  box-shadow: 0 4px 8px 0 rgba(1, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 30px;
  text-align: left;
  width: 200%;
  background-color: #c7ebc0;
 }

 .card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 26px;
    text-align: left;
    width: 200%;
    background-color: #FFA500;
    border-radius: 30px;
    transition:0.3s;
 }

 html[data-theme='dark'] .card2 {
   color:black;
 }
 
 .card2:hover{
  box-shadow: 5px 10px 8px #888888;
 }



 .card1:hover {
  box-shadow: 0 8px 16px 0 rgba(214, 215, 221, 0.2);
 }
 .card1 {display:inline-block;}
  
 /* Responsive columns - one column layout (vertical) on small screens */
 @media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
 }

 .card21 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: left;
  width: 100%;
}
 /* Button element */
  
 .button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-emphasis-color: #4CAF50;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
 }
  
 .button1 {background-color: #e0ebe0;} /* Green */
 .button2 {background-color: #c1e7f3;} /* Blue */
 .button3 {background-color: #d0d8e2;} /* Blue */
 .button4 {background-color: #acc7f0;} /* Blue */
  
 .sdk-card-container {
    display:grid;
    grid-template-columns: repeat(auto-fill, 400px);  
 }

 .sdk-card {
  width:360px;
  margin: 1.25rem;
  padding: 1.5rem;
  display:flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none; 
  font-size: var(--font-size-normal);
  color:black;
  border-radius: 10px;
}

.sdk-card1-bg {
  background-color: #e0ebe0;
}

.sdk-card2-bg {
  background-color: #c1e7f3;
}

.sdk-card3-bg {
  background-color: #acc7f0;
}

.sdk-card4-bg {
  background-color: #d0d8e2;
}

.sdk-card:hover {
  text-decoration: none;
  color:black;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

html[data-theme='dark'] .sdk-card:hover {
  box-shadow: 0px 5px 40px rgba(11, 69, 146, 0.1);
}

.sdk-card-logo {
  height: 50px;
}

.sdk-card-header{
  margin-left:25px;
  margin-bottom: 0px;
} 

.card-container {
    display: flex;
    flex-wrap: wrap;
    margin: -1.25rem;
    margin-top: 0;
}

.intro-card {
  width:360px;
  margin: 1.25rem;
  padding: 1.5rem;
  display:flex;
  flex-direction: column;
  text-decoration: none; 
  font-size: var(--font-size-normal);
  color:black;
  background-color: #F0F1F5;
  transition:0.3s;
  border-radius: 10px;
}

.intro-card:hover{
  box-shadow: 5px 10px 8px #888888;
  text-decoration: none;
  color:black;
}

html[data-theme="dark"] .intro-card{
  color:white;
  background-color: #262833;
}

.intro-card > ul {
  list-style-type: none;
}

.tutorial-button {
  color:black;
}

.tutorial-button:hover {
  color:black;
}

